{{css '/stylesheets/style.css'}}
{{css '/stylesheets/components/navigator.css'}}
{{js '/jquery/dist/jquery.min.js'}}
{{js '/javascripts/components/navigator.js'}}
<ul class="titles border" id="navigator">
  <li class="title">标题1</li>
  <li class="title">标题2</li>
  <li class="title">标题3</li>
</ul>
