{{css '/stylesheets/style.css'}}
{{css '/stylesheets/components/table.css'}}

{{js '/jquery/dist/jquery.min.js'}}
{{js '/javascripts/components/table.js'}}
<table class="border" id="table">
  <tr>
    <td>z</td>
    <td>d</td>
    <td>l</td>
  </tr>
</table>
